<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/chat.css' />
  </head>
  <body>  
      <div id="show">  
      </div>  
      <div class="main">
         <a href="javascript:void(0)" onclick="exit()">退出</a>  
          <ul id="chatWindow">
            
          </ul>
        <input type="text" id="message" name="" value="" placeholder="">  
        
        <a href="javascript:void(0)" onclick="send()">发送</a> 
      </div>
      
  </body>  
  <script type="text/javascript">
  var name="liuyun";
  var ws = new WebSocket("ws://127.0.0.1:3300",[user=name]); 
  var chatWindow=document.getElementById('chatWindow');
  var myMessage=document.getElementById("message");
  ws.onopen = function() {  
      console.log("连接状态", ws);  
      console.log("open");  
      // ws.open("start");  
  };  
  ws.onmessage = function(evt) {
      console.log(evt);
      console.log('---');
      // console.log(evt.data.message);
      // console.log(JSON.parse(message);
      let data=JSON.parse(evt.data);
      addIntoWindow('costmon',data.user,data.message);
  };  
  ws.onclose = function(evt) {  
      console.log("WebSocketClosed!");  
      console.log(evt);  
  };  
  ws.onerror = function(evt) {  
      console.log("WebSocketError!");  
  };  
    
  function send() {  
      var message = myMessage.value;
      if(!message){

        return
      }
      addIntoWindow('client',name,message)
      // console.log("发送", nm); 
      var totalMea = {
        to : 'cairh',
        message : message,
        user:name
      }
      ws.send(JSON.stringify(totalMea));  
      myMessage.value='';
  };  

  function addIntoWindow(flag,user,message){
      var li=document.createElement('LI');
      var myName;
       if(flag=='client'){
         li.classList.add('right'); 
       }else if(flag=='costmon'){
         li.classList.add('left');
       }
       li.innerHTML=`<p>${user} ${getNow()}</p><p>${message}</p>`;

       chatWindow.appendChild(li);
  };
  function getNow(){
    let time=new Date();
    let year=time.getFullYear();
    let month=time.getMonth()+1;
    let day=time.getDate();
    let hour=time.getHours();
    let min=time.getMinutes();
    let sec=time.getSeconds();
    if(month<10){
      month="0"+month;
    }
    if(day<10){
      day="0"+day;
    }
    if(hour<10){
      hour="0"+hour;
    }
    if(min<10){
      min="0"+min;
    }
    if(sec<10){
      sec="0"+sec;
    }
    return `${year}-${month}-${day} ${hour}:${month}:${sec}`;
  };
  function exit() {  
      var r = ws.close();  
      console.log("退出", r);  
  }  
  </script>  
</html>