<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/chat.css' />
    <script src="javascripts/jq.min.js"></script>
  </head>
  <body>  
      <div id="show">  
      </div>  
       <h2>客服页面</h2> 
      <div class="main">
         <a href="javascript:void(0)" onclick="exit()">退出</a>
          <ul id="chatWindow">
          </ul>
        <input type="text" id="message" name="" value="" placeholder="">  
        
        <a href="javascript:void(0)" onclick="send()">发送</a> 
      </div>
      
  </body>  
  <script type="text/javascript" src="javascripts/chat.js"></script>  
</html>