<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/chat.css' />
    <script src="javascripts/jq.min.js"></script>
  </head>
  <body>  
      <div id="show">  
      </div>  
       <h2>客服页面</h2> 
      <div class="main">
         <a href="javascript:void(0)" onclick="exit()">退出</a>
           <!--  <div class="sevserPart">
                <span onclick="changeTo('liuyun')">我是客服，刘</span>
                  &nbsp; &nbsp;
                <span onclick="changeTo('cairh')">我是客服，蔡</span>
            </div> -->

          <ul id="chatWindow">
            
          </ul>
        <input type="text" id="message" name="" value="" placeholder="">  
        
        <a href="javascript:void(0)" onclick="send()">发送</a> 
      </div>
      
  </body>  

  <script type="text/javascript">
  var name="liuyun"
    // $.ajax({
    //   url:'/users/login/get',
    //   type:'GET', 
    //   // async:false,
    //   timeout:5000,    //超时时间
    //   dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
    //    data:{
    //     // name:'yang',age:25
    //   },
    //   success:function(data,textStatus,jqXHR){
    //       console.log(data)
    //       name=data.name;
    //       console.log(textStatus);
    //       console.log(jqXHR);
    //   },
    //   // error:function(xhr,textStatus){
    //   //     console.log('错误')
    //   //     console.log(xhr)
    //   //     console.log(textStatus)
    //   // },
    // });
  var ws = new WebSocket("ws://192.168.1.112:3300",[user=name]); 
  var chatWindow=document.getElementById('chatWindow');
  var myMessage=document.getElementById("message");
  var serverName;
  ws.onopen = function() {  
      console.log("连接状态", ws);  
      console.log("open");
  };  
  ws.onmessage = function(evt) {
      console.log(evt);
      console.log('---');
      // console.log(evt.data.message);
      // console.log(JSON.parse(message);
      let data=JSON.parse(evt.data);
      serverName=data.user,
      addIntoWindow('costmon',data.user,data.message);
  };  
  ws.onclose = function(evt) {  
      console.log("WebSocketClosed!");  
      console.log(evt);  
  };  
  ws.onerror = function(evt) {  
      console.log("WebSocketError!");  
  };  
    
  function send() {  
      var ii = document.getElementById("message").value;
      if(!message){

        return
      }
      if(!serverName){
          alert('暂无访问人员加入')
        return
      }
      addIntoWindow('client',name,message)
      // console.log("发送", nm); 
      var totalMes = {
        to : serverName ,//客服人员
        message : message,
        user:name
      }
      ws.send(JSON.stringify(totalMes));  
      myMessage.value='';
  };  
  function changeTo(name){
      name=name;
      alert('更换客服角色成功');
  };
  function addIntoWindow(flag,user,message){
      var li=document.createElement('LI');
      var myName;
       if(flag=='client'){
         li.classList.add('right'); 
       }else if(flag=='costmon'){
         li.classList.add('left');
       }
       li.innerHTML=`<p>${user} ${getNow()}</p><p>${message}</p>`;

       chatWindow.appendChild(li);
  };
  function getNow(){
    let time=new Date();
    let year=time.getFullYear();
    let month=time.getMonth()+1;
    let day=time.getDate();
    let hour=time.getHours();
    let min=time.getMinutes();
    let sec=time.getSeconds();
    if(month<10){
      month="0"+month;
    }
    if(day<10){
      day="0"+day;
    }
    if(hour<10){
      hour="0"+hour;
    }
    if(min<10){
      min="0"+min;
    }
    if(sec<10){
      sec="0"+sec;
    }
    return `${year}-${month}-${day} ${hour}:${month}:${sec}`;
  };
  function exit() {  
      var r = ws.close();  
      console.log("退出", r);  
  }  
  </script>  
</html>