<!DOCTYPE html>
<html>
  <head>
    <title>客服页面</title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/chat.css' />
    <script src="javascripts/jq.min.js"></script>
  </head>
  <body>
    <div class="main">
      <ul class="list">
        <li>游客1<i></i></li>
      </ul>
      <ul id="chatWindow" class="chatBox"></ul>
      <div class="inputBox">
        <textarea id="message"></textarea>
        <a href="javascript:void(0)" onclick="send()">发送</a>
        <a href="javascript:void(0)" class="colse">关闭</a>
      </div>
    </div>
  </body>  
  <script type="text/javascript" src="javascripts/chat.js"></script>
</html>