<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/chat.css' />
  </head>
  <body>  
      <div id="show">  
      </div>  
      <h2>
            访客页面
      </h2>
      <div class="main">
         <a href="javascript:void(0)" onclick="exit()">退出</a>
            <div class="sevserPart">
                <span onclick="changeTo('liuyun')">客服，刘</span>
                  &nbsp; &nbsp;
                <span onclick="changeTo('cairh')">客服，蔡</span>
            </div>

          <ul id="chatWindow">
            
          </ul>
        <input type="text" id="message" name="" value="" placeholder="">  
        
        <a href="javascript:void(0)" onclick="send()">发送</a> 
      </div>
      
  </body>  
  <script src="/javascripts/jq.min.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>  
</html>