<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/list.css' />
  </head>
  <body>  
      <ul id="kf_list"></ul>
  </body>
  <script src="/javascripts/jq.min.js"></script>
  <script type="text/javascript" src="/javascripts/list.js"></script>  
</html>