<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>  
    <input name='username' type='text'/>
    <input name='usercode' type='text'/>
    <input value='登陆' type='button'/>
  </body>
  <script src="/javascripts/jq.min.js"></script>
  <script type="text/javascript">
    
    $("input:button").click(function(){
        $.post('users/login',{
            loginName: $("input[name=username]").val(),
            password: $("input[name=usercode]").val()
        },function(data){
           console.log(data);
            if(data[0]){
              window.location.href="/list";
              // alert('登录成功');
            }else{
              alert('登录失败');
            }
        })
    })
  </script>  
</html>