<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/register.css' />
</head>

<body>
    <form action="/users/register" method="post" action URL="/login">
        <input name="custName" value="" placeholder="输入账号名" />
        <input name="custId" value="" placeholder="输入账号" />
        <input name="custPassword" value="" placeholder="输入密码" />
        <input name="custPhone" value="" placeholder="输入手机号码" />
        <input name="login_name" value="" placeholder="登陆名" />
        <input name="e_mail" value="" placeholder="邮箱" />
        <input name="reamrk" value="" placeholder="备注" />
        <input name="cust_ser_state" value="" placeholder="状态" />
        <input type="submit" />
    </form>
</body>

</html>