#chatWindow{
	/*background-color: pink;*/
	width: 600px;
	height: 400px;
	overflow-y: auto;
	border: 1px solid #000;

}

li{
	list-style: none;
}
#chatWindow .right{
	text-align: right;
}
#chatWindow .right p:nth-child(2){
	margin-right: 100px;
}