*{
	margin: 0;
  padding: 0;
  outline: none;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  list-style: none;
}
a{
  text-decoration: none;
}
body,html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}
